body{
  background-color: #fff9e7;
}
.main{
  display: flex;
  justify-content: space-between;
}
.pic{
  width: 60%;
}
.container{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 100px;
}
.frame{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 250px;
  display: flex;
  background-color: #C0DEFF;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
}
p{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  color: #3A4F7A;
  text-align: center;
}
button{
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: #FF8E9E;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: bolder;
}
h1{
  font-family: 'Comfortaa', cursive;
  color:#3A4F7A;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: bolder;
}